$black: #222222;
$blue: #0052bd;
$cyan: #0ac2c9;
$grey: #999999;
$grey-light: #cccccc;
$yellow: #ffe66b;
$white: #ffffff;

// Official language colours
$html-orange: #f06529;
$css-blue: #28a4d9;
$sass-pink: #cf649a;
$react-blue: #5ed4f4;
$js-yellow: #efd81d;
$git-orange: #ec4d28;
